# Google Apps Script Web App URL
# Obtain this URL by deploying your script as a Web App in the Google Apps Script editor.
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
